@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: local('Sacramento'), local('Sacramento-Regular'), url(http://fonts.gstatic.com/s/sacramento/v4/Fpg3e9UodPQGSPnPRzpRPfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sacramento/v4/Fpg3e9UodPQGSPnPRzpRPRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
