@font-face {
  font-family: 'Caesar Dressing';
  font-style: normal;
  font-weight: 400;
  src: local('Caesar Dressing'), local('CaesarDressing-Regular'), url(http://fonts.gstatic.com/s/caesardressing/v5/2T_WzBgE2Xz3FsyJMq34T9xnpefXQJWUEk6q-GhSFKY.woff2) format('woff2'), url(http://fonts.gstatic.com/s/caesardressing/v5/2T_WzBgE2Xz3FsyJMq34T2P6V2CHcxaChb7jOf5qsHM.woff) format('woff');
}
